<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{.Host}}/web/static/css/style.css">
</head>

<body>
    <header>
        <div class="button-container">
            <button id="watchButton">Watch</button>
            <button id="bookTimeButton">Book a time</button>
        </div>
    </header>

    <main>
        <h1>Hi!</h1>
        <p>Welcome to GoBroadcast project.</p>
        <p>Start with</p>
        <div class="button-container" style="align-items: center; text-align: center;">
            <button id="watchButton" href="{{.Host}}/watch">Watch</button>
            <button id="bookTimeButton" href="{{.Host}}/bookatime">Book a time</button>
        </div>
    </main>
    <script src="{{.Host}}/web/static/js/script.js"></script>
    <script>
        let cookie = document.cookie;
        console.log("cookie = " + cookie);
    </script>

</body>

</html>
