 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }

        button {
            padding: 15px 30px;
            font-size: 18px;
            background-color: #4CAF50; /* Green */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
        }

        button:hover {
            background-color: #45a049; /* Darker green on hover */
        }

        .button-container {
            display: flex; /* Arrange buttons in a row */
            gap: 10px;   /* Space between buttons */
            justify-content: center; /* Center the buttons horizontally */
            align-items: center; /* Center the buttons vertically */
            text-align: center;
        }

        header {
            background-color: #333; /* Dark background for header */
            color: white;
            padding: 10px 0; /* Add some padding */
            text-align: center;
            width: 100%; /* Make header full width */
            position: fixed; /* Fix the header to the top */
            top: 0; /* Position it at the top */
            z-index: 10; /* Ensure it stays on top of other content */
            display: flex;
            align-items: center; /* Center the header content vertically */
            justify-content: center; /* Center the header content horizontally */
        }

        main {
            padding: 20px;
            text-align: center;
            margin-top: 60px; /* Add space for the fixed header */
        }

input[type="date"],
input[type="time"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#duration-value {
    margin-left: 10px;
}

#bookButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

textarea {
    width: 500px;
    min-height: 75px;
}